@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.wrapper {
	width: 90%;
	margin: 0 auto;
}
.header {
	padding: 20px 0;
	background: #24292e;
	margin-bottom: 50px;
}
.sub-header {
	font-size: 1.7rem;
	margin-top: 0;
}
a {
	text-decoration: none;
}
.link {
	color: rgba(24, 170, 61, 0.993);
	font-weight: 500;
	font-size: 1.2rem;
}
.link:hover {
	color: rgba(70, 199, 108, 0.993);
}
.repo {
	margin: 40px 0;
}
.fa-github {
	color: white;
	background: #24292e;
}
.container {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}
.logo {
  padding: 25px;
}
.searchBox {
	padding: 10px;
	font-size: 1.3rem;
	outline-color: hsl(6, 7%, 28%);
}
.searchBox::-webkit-input-placeholder { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	padding-left: 5px;
	padding-top: 2px;
	color: hsl(6, 7%, 28%);
}
.follower-name {
	color: #24292e;
	font-size: 1.3rem;
}
.follower-name:hover {
	color: rgba(24, 170, 61, 0.993);
}
.name {
	font-size: 1.3rem;
}
.user-info {
	text-align: center;
}
.user-overView {
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
.overView_item {
display: flex;
flex-direction: column;
margin: 0 15px;
}
.overView_count {
	font-size: 1.5rem;
	font-weight: 600;
}
.follower-img {
	border-radius: 5px;
	margin-right: 20px;
}
.follower-info {
	display: flex;
	margin-top: 20px;
}
.fork,
.star {
	margin-left: 15px;
}
.form {
	display: inline-block;
}
.updated-info {
	display: block;
	margin-top: 15px;
	font-size: .85rem;
	color: #24292e;
}






.lds-roller {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 100px;
  }
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
	margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  